.adminNavbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(28, 110, 161);
    height: 80px;
    align-items: center;
}

.adminNavbar h1{
    color: white;
    margin-right: 150px;
}
.adminNavbar a{
    
    text-decoration: none;
    border: none;
    font-weight: 600;
    padding: 10px 5px;
    color: white;
}
